---
import Container from "@components/Container.astro";
---

<footer>
  <div class="container mx-auto max-w-xl mt-24 text-base px-6">
    <div class="mb-24 font-serif italic text-sm text-stone-400 text-center">
      <p>Built by international talent, for international talent. Because someone should actually give a damn about solving this problem.</p>
      <a href="https://www.linkedin.com/company/thatsponsorjobs" target="_blank" rel="noopener noreferrer" class="hover:text-stone-700 transition">LinkedIn</a>
      <br>
      With Love @ JobsThatSponsor
    </div>
  </div>
</footer>
